.table {
  border-collapse: collapse;
  margin-top: 16px;
  width: 100%;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
}

.table tr.row {
  border-bottom: 1px solid var(--border-color);
}

.table tr.rowClickable {
  cursor: pointer;
}

.table tr.rowClickable:hover {
  background-color: var(--secondary-color-100);
}

.table tr.rowClickable:focus-visible {
  outline: 2px solid var(--primary-color-500);
  outline-offset: -2px;
}

.empty {
  text-align: center;
  color: var(--secondary-color-500);
}
