.main {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 54px;
}

.content {
  padding-top: 8px;
  padding-bottom: 8px;
}

.kicker {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 600;
}

.description {
  margin: 10px 0 0;
}
