.table {
  border-collapse: collapse;
  margin-top: 16px;
  width: 100%;
}

.info {
  margin-top: 12px;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
}

.table tr.job {
  border-bottom: 1px solid var(--border-color);
}

.empty {
  text-align: center;
  color: var(--secondary-color-500);
}

.modalForm {
  width: 100%;
}
